@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ecf2ff;
  --foreground: #cac9ff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .button-hover-background {
    background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  }
}
